.admin__main {
    display: flex;
    justify-content: space-between;
}

.admin__group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0.7rem;

}

.group {
    background: linear-gradient(to bottom right, #722223 3%, #e42f31);
    box-shadow: 2px 0px 5px rgba(192, 73, 73, 0.1);
    padding: 8px 0px;
    height: 80px;
    width: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    fill: #fff;
    color: #fff;
    border: 0;
    line-height: 15px;
}

.group1 {
    background: linear-gradient(to bottom right, #3a6e48 3%, #6eb444);
    box-shadow: 2px 0px 5px rgba(192, 73, 73, 0.1);
    padding: 8px 0px;
    height: 80px;
    width: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    fill: #fff;
    color: #fff;
    border: 0;
    line-height: 15px;
}

.group2 {
    background: linear-gradient(to bottom left, #0e508a 3%, #1d8add);
    box-shadow: 2px 0px 5px rgba(192, 73, 73, 0.1);
    padding: 8px 0px;
    height: 80px;
    width: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    fill: #fff;
    color: #fff;
    border: 0;
    line-height: 15px;
}

.group3 {
    background: linear-gradient(to bottom right, #016282 3%, #00b9ce);
    box-shadow: 2px 0px 5px rgba(192, 73, 73, 0.1);
    padding: 8px 0px;
    height: 80px;
    width: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
    fill: #fff;
    color: #fff;
    border: 0;
    line-height: 15px;
}

.group h1 {
    font-size: 0.6rem;
}

/* .group__title {
    padding-right: 20px
} */

.group__figure {
    background: #fff;
    box-shadow: 2px 0px 5px rgba(192, 73, 73, 0.1);
    height: 80px;
    width: 136px;
    padding: 23px 20px;
    margin-right: 16px;
    font-weight: 700;
}

.group__figure h1 {
    font-weight: 500;
    font-size: 1.3rem;
}

@media (max-width: 700px) {
    .admin__main {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .admin__group {
        margin-bottom: 12px;
    }

    .group__figure {
        width: 187px;
        margin-right: 0px;
    }
}

/* @media (max-width: 768px) {
    .admin__main {
        display: flex;
        flex-wrap: wrap;
    }

    .admin__group {
        width: 50%;
        margin-bottom: 15px;
    }

    .group {
        padding: 10px 20px 0px;
    }

    .group__figure {
        margin-right: 15px
    }

    .group__figure h1 {
        font-size: 1.2rem;
    }
} */

/* @media (max-width: 1024px) {
    .admin__main {
        display: flex;        
    }

    .admin__group {
        
        margin-bottom: 15px;
    }

    .group {
        padding: 10px 20px 0px;
    }

    .group__figure {
        margin-right: 15px
    }

    .group__figure h1 {
        font-size: 1.2rem;
    }
} */

/* @media (min-width: 1440px) {
    .admin__main {
        display: flex;
        justify-content: space-between;

    }

    .admin__group {
        width: 50%;


    }

    .group {
        padding: 10px 20px 0px;
    }

    .page_group__figure {
        margin-right: 15px
    }

} */