.navbar__container {
    /* border-bottom: 2px solid #a4a4a4; */
    padding-bottom: 44px;
}

.Navbar {
    margin: 1rem 1rem 0;
}

.Navbar__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #e3cccc;
    padding: 21px;
    z-index: 1;
    border-bottom: 2px solid #a4a4a4;

}

.menu {
    display: none
}

.NavbarLogo {
    padding-right: 50px;
}

.NavbarTitle {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* Navbar Search */
.backgroundSearch {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
}

.backgroundSearch input[type="text"] {
    background: #fff;
}

.searchIcon {
    margin-left: 15px;
    margin-top: 4px;
    color: #a4a4a4;
    fill: #a4a4a4;
}

.backgroundSearch input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.placeholder {
    color: #a4a4a4;

}

.backgroundSearch button {
    padding: 10px;
    font-size: 1rem;
    width: 25%;
    height: 43px;
    background-color: #1dbf73;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/* Message and notification section */

.icons {
    display: flex;
    align-items: center;
}

.english {
    display: flex;
    align-items: center;
    gap: 10px;
    fill: #a4a4a4;
}

.icon {
    position: relative;
    margin-left: 20px;
    display: flex;
}

.icon img {
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff4c4c;
    color: #fff;
    font-size: 12px;
}

/* user section */
.user {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.user img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    line-height: 13px;
}

.username {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
}

.position {
    font-size: 0.5rem;
    color: #666;
}

/* @media (max-width: 300px) {
    .navbar_NavbarLogo {
        padding-right: 5rem;
    }
} */



@media (max-width: 700px) {
    .user img {
        width: 2rem;
        height: 2rem;
        /* margin-left: 0px; */

    }

    .details {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        line-height: 13px;
    }

    .username {
        font-size: 0.8rem;
        font-weight: bold;
        color: #333;
    }

    .position {
        font-size: 0.6rem;
        color: #666;
    }

}


/* Mobile */
@media (max-width: 700px) {

    .Navbar__main {
        gap: 0;
    }

    .NavbarLogo {
        padding-right: 2.5rem;
        padding-left: 1rem;
    }

    .menu__btn {
        border: 0;
        background: 0;
        padding-left: 0;
    }

    .menu {
        display: inline-block;
        border: 0;
        outline: 0;
        margin-right: 10px;
        background: none;
    }

    .NavbarTitle {
        display: none;
    }

    .navbarSearch {
        display: none;
    }

    .icons {
        display: none;
    }

    .icon {
        display: none;
    }
}

/* Tablet  */
@media (max-width: 701px) {

    .Navbar__main {
        gap: 0;
        align-items: center;
        justify-content: space-between;
    }

    .navbar_NavbarLogo {
        padding-right: 0;
    }

    /* .NavbarTitle {
        display: none;
    } */

    .navbarSearch {
        margin-right: 20px;
    }

    .user {
        margin-left: 20px;
    }

    /* .icons {
        display: none;
    } */
}

@media (max-width: 768px) {

    .Navbar__main {
        gap: 0;
        align-items: center;
        justify-content: space-between;

    }

    .navbar_NavbarLogo {
        padding-right: 0;
    }

    .NavbarTitle {
        display: none;
    }

    .navbarSearch {
        margin-right: 20px;
    }

    .user {
        margin-left: 20px;
    }


}

/* Smaller Desktop */
@media (max-width: 1024px) {

    .Navbar__main {
        gap: 0;
    }

    .NavbarLogo {
        padding-right: 10px;
    }

    .NavbarTitle {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbarSearch {
        margin-right: 15px;
    }

    .backgroundSearch input {

        padding: -5px;
        font-size: 12px;

    }

    .user {
        margin-left: 35px;
    }

    /* .icons {
        display: none;
    } */
}

/*  Desktop */
@media (max-width: 1440px) {

    .Navbar__main {
        gap: 0;
        align-items: center;
        justify-content: space-between;
    }

    .navbar_NavbarLogo {
        padding-right: 0;
    }

    /* .NavbarTitle {
        display: none;
    } */

    .navbarSearch {
        margin-right: 20px;
    }

    .user {
        margin-left: 27px;
    }

    /* .icons {
        display: none;
    } */
}