.container {
    background: #fff;
}
.main {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.main h1 {
    font-size: 1rem;
    font-weight: 600;

}

.formSelection {
    display: flex;
}

.section {
    display: flex;
    align-items: center;
    /* padding-right: 10px; */
    padding: 0.2rem;
}

.select {
    /* margin-bottom: 1rem; */
    padding: 0.2rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    outline: 0;
}